@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

@theme {
    --color-background: #F5F7F8;
    --color-oliveGreen: #495E57;
    --color-oliveGreenHover: #26302d;
    --color-giallo: #F4CE14;
    --color-sideNav: #c1a20f;
    --color-sideNavHover: #806b09;
    --color-grayPalette: #45474B;
}

.nav-element hr {
    width: 0%;
    margin: 0 auto;
}

.nav-element:hover hr {
    animation-name: expand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes expand {
    from { width: 0%; }
    to { width: 100%; }
}

.shadow {
    box-shadow: 0px 5px black;
}

.button-anim:hover {
    animation: raise 0.5s;
    animation-fill-mode: forwards;
}
@keyframes raise {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10%); }
}

.colonne {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    row-gap: 1.5em;
    margin: 0 auto;
}

@media (width <= 768px) {
    .colonne {
        grid-template-columns: 1fr;
    }
}

.linea {
    position: relative;
}

.linea::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #F7A5A5;
    margin-top: 0.5em;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (width <= 768px) {
    .menu-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


.nav-comparsa {
    animation: navApertura 0.2s ease-out
}

@keyframes navApertura {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease-in-out;
    > div {
        overflow: hidden;
    }
}

.sub-menu.show {
    grid-template-rows: 1fr;
}

/* ImageCarrousel */
.container {
    position: relative;
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    overflow-x: hidden;
}

@media (width <= 768px) {
    .container {
        height: 300px;
    }
}

.imageCarrousel {
    position: relative;
    width: 100%;
    height: auto;
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.bottoni {
    position: absolute;
    display: flex;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    gap: 1em;
}